.sign-in {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header .heading {
    font-size: 2em;
    line-height: 24px;
    background-position: top center;
    background-size: 90px;
    text-align: center;
    margin-bottom: 0.5em;
  }
  .heading {
    padding: 0.5em;
    font-size: 28px;
    line-height: 36px;
  }

  .excerpt {
    margin: 0 0 20px;
    text-align: center;
    font-size: smaller;
  }

  form {
    margin-top: 2em;
  }

  .divider {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 0.05em;
  }
  .divider:before,
  .divider:after {
    content: "  ";
    flex: 1 1;
    border-bottom: 1px solid;
    border-color: black;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
  }
  // .divider:before {
  //   margin-right: 5px;
  // }
  // .divider:after {
  //   margin-left: 5px;
  // }

  .footer {
    padding: 1.5em;

    .excerpt {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sign-in {
    width: 90%;

    .heading {
      margin-top: 0;
    }

    form {
      margin-top: 0;
    }
  }
}
