.cart-dropdown {
  position: absolute;
  width: 370px;
  height: 450px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 110px;
  right: 8%;
  z-index: 5;

  .cart-items {
    display: box;
    height: auto;
    overflow: scroll;
    text-align: left;
  }

  .btn-actions {
    margin-top: auto;

    button {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .empty-message {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
  }
}
