.subtitle {
  align-items: center;
  font-weight: lighter;
  cursor: pointer;
  letter-spacing: 0.12em;
  padding: 0.5em 0.7em;
}
.small {
  font-size: 0.9em;
}

.medium {
  font-size: 1em;
}

.large {
  font-size: 1.25em;
}
