.subtitle {
  align-items: center;
  font-weight: lighter;
  cursor: pointer;
  letter-spacing: 0.15em;
  padding: 0.9em;
}
.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1.25em;
}

.large {
  font-size: 1.5em;
}
