.item-sizing {
  width: 23.4%;
  padding: 0 10px;
  margin: 5px 0;

  img {
    height: 100%;
    width: 100%;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-details {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: -4.5em;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1em;
  }

  .item-price {
    background-color: #f6edcb;
    padding: 0.5em;
  }

  .button {
    height: auto !important;
    margin: 5px 0;
    max-height: 30% !important;
    max-width: 49%;
  }
  .icon-text {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      padding: 0 10px;
    }
    .icon {
      width: 24px;
      height: 24px;
      padding: 0 10px;
    }
  }
  button:hover {
    background-color: rgba(236, 236, 236, 0.384) !important;
  }
}
