.homepage {
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .homepage {
    padding: 5px 10px;
  }
}
