.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 150px;
  padding-bottom: 20px;

  img {
    width: 30%;
    height: 100%;
  }

  .item-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px;

    .name {
      font-size: 14px;
      font-weight: lighter;
    }
  }
}
